[submodule "NuttX"]
	path = NuttX
	url = https://github.com/libcxx4Nuttx/Nuttx.git
[submodule "libcxx"]
	path = libcxx
	url = https://github.com/libcxx4Nuttx/nuttx_libcxx.git
[submodule "libcxxabi"]
	path = libcxxabi
	url = https://github.com/libcxx4Nuttx/libcxxabi.git
